*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: #f0f2f5;
}
.container{
  width:80vmin;
  position: absolute;

  top:48%;
  left:50%;


   transform: translate(-50%,-50%);
  border: 10px solid #b1cffc;
  overflow:hidden;

  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
.img-container{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
img{
  width:100%;
  
  
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }

  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: rotateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: teal;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: teal;
  color: white;
}
.color{
  background-color: #f0f2f5;
}
.png{
  width: 200px;
}
header{
  background-color: black;
  color: powderblue;
}
.pho{
  display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%
  }
   

@media screen  and  (min-width:950px) and  (max-width:1150px){
  
  
.container{
  width:50%;
  top:50%;
}

  
}


@media screen  and  (min-width:1151px) and  (max-width:1200px){
  
  
  .container{
    width:43%;
    top:40%;
  }
  
    
  }
  

  
@media screen  and  (min-width:1201px) and  (max-width:1400px){
  
  
  .container{
    width:30%;
    top:40%;
  }
  
    
  }
  

@media screen  and (max-width:400px){


  
  .container{
    width:80%;
    top:20%;
  }  
  

.topnav{
  display: block;
  

}

  }
  @media screen  and     (min-width:401px) and (max-width:949px){


  
    .container{
      width:50%;
      top:10%;
    }  
    
  
  .topnav{
    display: block;

    padding: 0;
    margin: 0;
    
  
  }
  
    }
  

  



  
    
  